 /* Here we can write internal css */
 div {
     font-size: 28px;
 }

 .animal {
     /* color: pink !important; */
     color: pink;
 }

 .dog {
     color: burlywood;
 }

 /* Class ke upar css lagana is done via dot operator */
 .animal {
     color: yellow;
     background-color: black;
 }

 /* id ke liye we use # */
 #elephant {
     color: orange;
 }